<div class="bg-dark border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <i class="fas fa-user-cog"></i>

    <span style="font-weight:700">assistant</span> admin</span>
  </div>
  <div class="list-group list-group-flush">
    <a href="/admin/question" class="list-group-item list-group-item-action bg-dark"
      ><i class="fas fa-plus-circle"></i>Gérer les question</a
    >
    <a href="/admin/list-question" class="list-group-item list-group-item-action bg-dark"
      ><i class="fas fa-list-ul"></i>

      Liste des questions</a
    >
    <a href="/admin/news/manage" class="list-group-item list-group-item-action bg-dark"
      ><i class="fas fa-newspaper"></i>

      Gérer les actualités</a
    >
    <a href="/admin/news" class="list-group-item list-group-item-action bg-dark"
      ><i class="fas fa-file-alt"></i>

      Liste des actualités</a
    >
    <a href="/stats/global" class="list-group-item list-group-item-action bg-dark"
      ><i class="fas fa-chart-pie"></i>

      Statistiques</a
    >
    <a href="#" class="list-group-item list-group-item-action bg-dark"
      ><i class="fas fa-microphone-alt"></i>

      Assistant</a
    >
  </div>
</div>
